**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/dist
**/dist-ssr
**/storybook-static
**/.storybook
**/.output
**/.cursor
**/.vscode
**/.github
**/.railway
**/openspec
**/coverage
**/docs
**/*.md
!README.md
